<main id='content'>
	<a href='/'><h2 class='home-alias' title='home'>about.html</h2></a>
	<p>
		I'm a Canadian software developer with experience creating web applications, small robots, and custom game engines.
		I recently graduated from the University of Victoria with a Bachelor of Software Engineering and a specialization in
		software system Performance and Scalability.
	</p>
	<p>You can find me on:</p>
	<ul>
		<li><a href='https://github.com/LeviMWilliamson'>GitHub</a></li>
		<li><a href='https://www.linkedin.com/in/levi-williamson-226756160/'>LinkedIn</a></li>
	</ul>
	<p>To see cool projects I've done, check out my <a href='/portfolio.html'>portfolio</a>!</p>
</main>
