<main id='content'>
	<a href='/'><h2 class='home-alias' title='home'>.</h2></a>
	<section>
		<p>Hello,</p>
		<p>My name's Levi. I'm a software and web developer with experience
		developing web applications, simple robots, and good lunches.</p>
		<p>Feel free to look around my website!</p>
		<p>If you run into any problems, or have suggestions, please
		<a href='https://github.com/LeviMWilliamson/LeviMWilliamson.github.io/issues'>file an issue on GitHub.</a></p>
		<p>Cheers,</p>
		<p>Levi</p>
	</section>
</main>