<main id='content'>
	<a href='/'><h2 class='home-alias' title='home'>portfolio.html</h2></a>

	<p>Here are some cool projects I've created! Most of these are a couple years old.</p>

	<section id='particle-system'>
		<a href='#particle-system'><h3>#particle-system</h3></a>
		<p>Created a particle-emission system using C++ and OpenGL for a course in high-performance computing.</p>
		<p>A <a href='https://www.youtube.com/watch?v=aijt4xGvY64'>presentation</a> demoing the project is available on YouTube.</p>
	</section>

	<section id='website'>
		<a href='#website'><h3>#website</h3></a>
		<p>This website is created using a custom static site generation solution I wrote using
		<i>m4</i>, <i>make</i>, and <i>git</i> in a Linux development environment.</p>
		<p>The <a href='https://github.com/LeviMWilliamson/LeviMWilliamson.github.io'>source</a>
		is available on GitHub.</p>
	</section>

	<section id='platformer'>
		<a href='#platformer'><h3>#platformer</h3></a>
		<p>A simple platformer with text-based graphics. You can run, jump, and climb walls - all in your browser!</p>
		<p>Navigate using the <kbd>W</kbd> <kbd>A</kbd> <kbd>S</kbd> <kbd>D</kbd> keys on your keyboard.</p>
		<ul>
			<li><a href='https://levimwilliamson.github.io/text-platformer/'>demo</a></li>
			<li><a href='https://github.com/LeviMWilliamson/text-platformer'>source</a></li>
		</ul>
	</section>

	<section id='game-engine'>
		<a href='#game-engine'><h3>#game-engine</h3></a>
		<p>A JavaScript game engine I created back in highschool. It detects the collision of convex polygons using
		the separating axis theorem in real-time.</p>
		<ul>
			<li><a href='https://levimwilliamson.github.io/collision-engine/'>demo</a></li>
			<li><a href='https://github.com/levimwilliamson/collision-engine/'>source</a></li>
		</ul>
	</section>

	<section id='robots'>
		<a href='#robots'><h3>#robots</h3></a>
		<p>An infrared-seeking robot created for a first-year engineering project.</p>
		<video controls width='300'>
			<source src='/assets/videos/cablerobot.mp4'/>
		</video>
		<p>A solar-tracking robot I created back in highschool.</p>
		<video controls width='300'>
			<source src='/assets/videos/tracker.mp4'/>\
		</video>
	</section>
</main>
